/* Reset some default styles */
html, body, h1, button {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle at top left, #12161f, #000000);
    color: #ffffff;
}

.container {
    text-align: center;
    max-width: 600px;
    padding: 2rem;
    background-color: rgba(18, 22, 31, 0.8);
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.result {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1.5rem;
    padding: 0.5rem 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #12161f;
    background-color: #00f5d4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

button:hover {
    background-color: #00d9c0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#photo {
    display: block;
    max-width: 30%; /* Adjust the maximum width of the image to a smaller percentage */
    width: 100%; /* Set the width to 100% to make the image responsive */
    height: auto; /* Maintain the aspect ratio of the image */
    object-fit: contain; /* Ensure that the entire image is visible */
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#title-link {
    color: #ffffff; /* Set the link color to match the title text */
    text-decoration: none; /* Remove the underline from the link */
}

#title-link:hover {
    text-decoration: underline; /* Add underline on hover */
}
